.pagination li {
    display: inline-block;
}
.pagination a {
    text-align: center;
    width: 30px;
    line-height: 28px;
    height: 30px;
    border: 1px solid var(--white-1);
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    color: var(--white-1);
}
 .selected a {
     background-color: var(--border-gradient-onyx);
     color: var(--orange-yellow-crayola);
     border: 1px solid var(--orange-yellow-crayola);
 }

